extends ../layout/layout-person

block css_content
  link(rel='stylesheet', href='/vendor/Jcrop/css/jquery.Jcrop.css')
block content-main
  form#upload-form.form-horizontal(role='form', method='post', enctype='multipart/form-data')
    .form-group
      input.form-control(disabled=true, value='#{user.name}')
    .form-group
      .edit-user-img
        img#user-avatar-show.avatar-middle(src='#{user.img}')
        input#user-avatar(type='hidden', name='img', value='#{user.img}')
        .edit-user-img-btn
          input(type='file', name='upload-image')
          a.btn.btn-primary(href='javascript:{}') 选择头像
      #resize-user-img-btn.btn.btn-primary(data-toggle='modal',data-target='.bs-example-modal') dialog
      #resize-user-img-dialog.modal.fade.bs-example-modal(role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
        .modal-dialog.modal-sm
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
              h4.modal-title 选择头像区域
            .modal-body
              .image-200-wrap
                img#image-200(src='/img/empty.gif')
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') 关闭
              button#crop-image.btn.btn-primary(type='button') 保存
    .form-group
      input#person-email.form-control(name='email', value='#{user.email}', placeholder='邮箱')
    .form-group
      input#person-city.form-control(name='city', value='#{user.city}', placeholder='城市')
    .form-group
      input#person-website.form-control(name='website', value='#{user.website}', placeholder='网址/微博/blog')
    .form-group
      input#person-des.form-control(name='des', value='#{user.des}', placeholder='一句话介绍')
    .form-group
      button.btn.btn-success(type='submit') 保存
block js_content
  script(src='/vendor/ajaxForm/jquery.form.js')
  script(src='/vendor/Jcrop/js/jquery.Jcrop.js')
  script(src='/js/personSet.js')