- var titleEncode = encodeURIComponent(article.title)
header
  - if(article.category && article.category !== '')
    include category-data
    span.label.label-info #{categorys[article.category]}
  h1.inline
    a.pjax-main.post-title(href='/articles/#{article._id}') #{article.title}
  .row
    .col-md-6.text-left.post-short-info
      a(href='/users/#{article.user.email}')
        img.avatar-min(src='/avatar/#{article.user.email}')
        |  #{article.user.name}
    time.col-md-6.text-right.text-muted.post-time
      .glyphicon.glyphicon-time
      |  #{article.fromNow}
  - if(req.isAuthenticated() && req.user && req.user.name == article.user.name)
    .post-btns
      a.btn.btn-primary(href='/articles/#{article._id}/edit')
        span.glyphicon.glyphicon-edit
        |  编辑