.aside-avatar
  include user-avatar
.aside-user-info-box
  a.aside-user-info(href='javascript:{}')
    .glyphicon.glyphicon-user
    |  #{author.name}
  - if(author.city && author.city !== '')
    .aside-user-info
      .glyphicon.glyphicon-map-marker
      |  #{author.city}
  .aside-user-info
    .glyphicon.glyphicon-envelope
    |  #{author.email}
  - if(author.website && author.website !== '')
    a.aside-user-info(href='javascript:{}')
      .glyphicon.glyphicon-link
      |  #{author.website}
  - if(author.des && author.des !== '')
    .aside-user-info
      .glyphicon.glyphicon-fire
      |  #{author.des}