extends layout/layout-user
block css_content
  link(rel = 'stylesheet', href = '/vendor/wysihtml5/css/stylesheet.css')
block content-main
    form#post-form(role='form', method = 'post', enctype = 'multipart/form-data')
      .bs-callout.bs-callout-danger
        h4 炫富大赛
      .form-group
        - each cate in [['pzsh','品质生活'],['ahsc','爱好收藏'],['kjk','科技控']]
          - var checked = cate[0] === post.filter && true
          label.radio-inline
            input(type='radio', checked=checked, name='filter', value='#{cate[0]}')
            |  #{cate[1]}
      .form-group
        - var inputDisabled = isNew ? false : 'disabled'
        input.form-control(name='title', disabled=inputDisabled id='post_title', placeholder='标题', value='#{post["title"]}')
      .form-group
        include include/post-wysihtml5
      .text-left
        input#post-submit.btn.btn-success.btn-lg(type='submit', value='分享')
block js_content
  script(src = '/vendor/wysihtml5/parser_rules/advanced.js')
  script(src = '/vendor/wysihtml5/dist/wysihtml5-0.3.0.js')
  script(src = '/vendor/ajaxForm/jquery.form.js')
  script(src = '/js/post.js')